<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </head>
  <body>
    <h1>IEAM 4.0 - Object Classification</h1>
    <div col="12"><img width="640" heigh="480" src="{{ url_for('stream_video') }}"/></div>
    <h1>OpenCV TensorFlow Lite</h1>
    <div id="config-form" col="16">
      <form action="update/config" class="container">
	<label class="container">Overlay
	  <input name="overlay" type="checkbox" checked="checked">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Detect Face
	  <input name="face" type="checkbox">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Blur Face
	  <input name="blur" type="checkbox">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Publish Kafka
	  <input name="kafka" type="checkbox">
	  <span class="checkmark"></span>
	</label>
	<label class="container">Publish Stream
	  <input name="stream" type="checkbox">
	  <span class="checkmark"></span>
	</label>
	<button type="submit" class="btn" onclick="reconfigure()">Reconfigure</button>
      </form>
    </div>
    <div id="stdout" col="6">
    </div>
  </body>
</html>


